<div class="container">
  <h3>Welcome to company Y</h3>
<h5> Actions </h5>

<br>
<form action="/view_parts">
    <button type= "submit" class="btn btn-secondary">
      List Parts
    </button>
</form>
<br>
<form action="/add_part">
  <button type= "submit" class="btn btn-secondary">
    Add Part
  </button>
</form>
</div>
