<div class="container">
  <h2 style="color: blue;">Welcome to company Y!! we keep parts related information</h2>
  <br><br>
  <row>
    <col md="3">
      <h3 style="color: red;"> Actions: </h3>
    </col>
  </row>
  <row>
    <br>
    <col md="3">
      <h5>List All the parts stored in the Company Y</h5>
      <form action="/getParts">
          <button type= "submit" class="btn btn-success">
            List All Parts
          </button>
      </form>
    </col>
    <br><br>
    <col md="3">
      <h5>Add part to the Company Y data</h5>
      <form action="/addPart">
        <button type= "submit" class="btn btn-success">
          Add Part
        </button>
      </form>
    </col>
  </row>
</div>
